div{
    height: fit-content;
    width: fit-content;
    margin-left: 100px;
    background-color: aquamarine;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}