{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <h1>User Registeration</h1>
        <form action="/register" method="post">
            {% csrf_token %}
            Name <input type="text" name="t1"><br>
            UserName <input type="text" name="t2"><br>
            Password <input type="text" name="t3"><br>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>